﻿:root {
    --hue: 260;
    --saturation: 60%;

    --accent-light: hsl(var(--hue), var(--saturation), 75%);
    --accent-medium: hsl(var(--hue), var(--saturation), 65%);
    --accent-dark: hsl(var(--hue), var(--saturation), 55%);

    --white: hsl(var(--hue), 2%, 100%);
    --dark: hsl(var(--hue), 100%, 2%);

    --gray: hsl(var(--hue), 10%, 80%);
    --dark-gray: hsl(var(--hue), 10%, 40%);
}

body {
    margin: 0;
    overflow-y: hidden;

    background-color: var(--white);
    color: var(--dark);
}
