﻿@using Swallow.Workflow.Example.Pages
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Swallow.Workflow.Example.styles.css" />

    <title>Workflow Example</title>
    <base href="/" />
</head>
<body>
    <Router AppAssembly="typeof(App).Assembly">
        <Found>
            <RouteView RouteData="context" DefaultLayout="typeof(MainLayout)" />
        </Found>
    </Router>

    @if (!NoScript)
    {
        <script src="_framework/blazor.web.js"></script>
    }
</body>
</html>

@code {

    private bool NoScript { get; set; }

    protected override void OnInitialized()
    {
        NoScript = HttpContext?.Request.Query.ContainsKey("no-script") ?? false;
    }

    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
}
