﻿@page "/"
@using Swallow.Workflow.Example.Components

<article>
    <h2>Build a commit message</h2>
    <p>
        A workflow that will build a commit message based on Arlo's Commit Notation.
        It's made up of two radio-group selections and will display the commit message at the end.
    </p>
    <p>
        <LinkButton Href="/build-commit-message/static/start">Statically Rendered</LinkButton>
        <LinkButton Href="/build-commit-message/interactive/start">Interactive with navigation</LinkButton>
        <LinkButton Href="/build-commit-message/in-place">Interactive in-place</LinkButton>
    </p>
</article>
