﻿@inherits LayoutComponentBase

<header>
    <h1>Swallow.Workflow <a href="/">Examples</a></h1>
</header>

<main>
    @Body
</main>

<footer>
    <span class="generation">@headerInfo</span>
    <span class="copyright">©️ 2023 Philipp Kiener</span>
</footer>


@code {

    private string headerInfo = "";

    protected override void OnInitialized()
    {
        headerInfo = $"Generated on {DateTime.UtcNow:O}";
    }

}
