﻿header, main, footer {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.4;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 6em;

    background-color: var(--accent-light);
    color: var(--dark);

    & h1 {
        margin: 1.5rem;
        user-select: none;
        width: 80%;

        & a, & a:visited {
            color: var(--accent-dark);
            text-decoration: underline;
        }
    }
}

main {
    max-width: 80ch;
    margin: 6em auto 3em;
    padding: 2em 4em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;

    background-color: var(--accent-light);
    color: var(--dark);

    & span {
        padding: 1em;
        display: inline-block;
        user-select: none;

        &.copyright {
            float: right;
        }
    }
}
