﻿@using Swallow.Workflow.InPlace
@using Swallow.Workflow.Example.Components
@inherits WorkflowStep<WorkflowModel>

@foreach (var message in messages)
{
    <Message Type="MessageType.Error">@message</Message>
}

<fieldset>
    <legend>Choose an intention</legend>
    <InputRadioGroup TValue="Intention?" @bind-Value="Model.Intention">
        <label><InputRadio Value="Intention.Feature"/> Feature</label>
        <label><InputRadio Value="Intention.Bugfix"/> Bugfix</label>
        <label><InputRadio Value="Intention.Refactoring"/> Refactoring</label>
        <label><InputRadio Value="Intention.Documentation"/> Documentation</label>
    </InputRadioGroup>
</fieldset>

<Button type="button" style="float: right; margin-top: 2em" @onclick="@Next">Next</Button>

@code {

    private IReadOnlyList<string> messages = Array.Empty<string>();

    private async Task Next()
    {
        if (Model.Intention is null)
        {
            messages = ["You have to select an intention."];
            return;
        }

        await MoveToAsync<SetRisk>();
    }

}
