﻿@using Swallow.Workflow.InPlace
@using Swallow.Workflow.Example.Components
@inherits WorkflowStep<WorkflowModel>

@foreach (var message in messages)
{
    <Message Type="MessageType.Error">@message</Message>
}

<fieldset>
    <legend>Choose a risk level:</legend>
    <InputRadioGroup TValue="Risk?" @bind-Value="Model.RiskLevel">
        <label><InputRadio Value="Risk.KnownSafe"/> Known Safe</label>
        <label><InputRadio Value="Risk.Validated"/> Validated</label>
        <label><InputRadio Value="Risk.Risky"/> Risky</label>
        <label><InputRadio Value="Risk.Broken"/> Broken</label>
    </InputRadioGroup>
</fieldset>

<Button type="button" style="float: left; margin-top: 2em" @onclick="@(MoveToAsync<SetIntention>)">Back</Button>
<Button type="button" style="float: right; margin-top: 2em" @onclick="@Next">Next</Button>

@code {

    private IReadOnlyList<string> messages = Array.Empty<string>();

    private async Task Next()
    {
        if (Model.RiskLevel is null)
        {
            messages = ["You have to select a risk level."];
            return;
        }

        await MoveToAsync<ShowCommitMessage>();
    }

}
