﻿@using Swallow.Workflow.InPlace
@using Swallow.Workflow.Example.Components
@inherits WorkflowStep<WorkflowModel>

Your commit message is:

<Message><pre><code>@commitMessage</code></pre></Message>

<Button type="button" style="float: left; margin-top: 2em" @onclick="@(MoveToAsync<SetRisk>)">Back</Button>

@code {

    private string commitMessage = "";

    protected override void OnInitialized()
    {
        if (Model.RiskLevel is null || Model.Intention is null || Model.Title is null)
        {
            commitMessage = "Failed!";
            return;
        }

        commitMessage = CommitMessageGenerator.Generate(Model.Intention.Value, Model.RiskLevel.Value, Model.Title);
    }

}
