﻿button {
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: inherit;

    cursor: pointer;
    user-select: none;
    border: 1px solid var(--accent-light);
    background-color: var(--accent-dark);
    color: var(--white);
}

button:hover {
    background-color: var(--accent-medium);
}

button:disabled, button[disabled] {
    pointer-events: none;
    background-color: var(--gray);
    border-color: var(--dark-gray);
}
