﻿a {
    display: inline-block;
    padding: 1rem 1.5rem;

    user-select: none;
    text-decoration: none;
    border: 1px solid var(--accent-light);
    background-color: var(--accent-dark);
    color: var(--white);
}

a:hover {
    background-color: var(--accent-medium);
}

a:disabled, a[disabled] {
    pointer-events: none;
    background-color: var(--gray);
    border-color: var(--dark-gray);
}
