﻿span {
    display: inline-block;
    width: calc(100% - 2rem);
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border: 1px solid;
}

span:last-of-type {
    margin-bottom: 1rem;
}

span.Info {
    color: #00ff00;
    background-color: #eeffee;
    border-color: #00ff00;
}

span.Error {
    color: #ff0000;
    background-color: #ffeeee;
    border-color: #ff0000;
}
