﻿@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web;

<span>You've clicked @count times!</span>
<button @onclick="@Increment" type="button">More</button>

@if (BindTo is not null)
{
    <input type="hidden" name="@BindTo" value="@count" />
}

@code {
    private int count = 0;

    [Parameter]
    public string? BindTo { get; set; }

    private void Increment()
    {
        count += 1;
    }
}
