﻿@page "/build-commit-message/interactive/set-intention"
@using Swallow.Workflow.Interactive
@using Swallow.Workflow.Example.Components
@inherits WorkflowPage<WorkflowModel>

@foreach (var message in messages)
{
    <Message Type="MessageType.Error">@message</Message>
}

<EditForm Model="Model" OnSubmit="@Submit">
    <fieldset>
        <legend>Choose an intention</legend>
        <InputRadioGroup TValue="Intention?" @bind-Value="Model.Intention">
            <label><InputRadio Value="Intention.Feature"/> Feature</label>
            <label><InputRadio Value="Intention.Bugfix"/> Bugfix</label>
            <label><InputRadio Value="Intention.Refactoring"/> Refactoring</label>
            <label><InputRadio Value="Intention.Documentation"/> Documentation</label>
        </InputRadioGroup>
    </fieldset>

    <Button type="submit" style="float: right; margin-top: 2em">Next</Button>
</EditForm>

@code {

    private IReadOnlyList<string> messages = Array.Empty<string>();

    private async Task Submit()
    {
        if (Model.Intention is null)
        {
            messages = ["You have to select an intention."];
            return;
        }

        await MoveToAsync<SetRisk>();
    }

}
