﻿@page "/build-commit-message/interactive/set-risk"
@using Swallow.Workflow.Interactive
@using Swallow.Workflow.Example.Components
@inherits WorkflowPage<WorkflowModel>

@foreach (var message in messages)
{
    <Message Type="MessageType.Error">@message</Message>
}

<EditForm Model="Model" OnSubmit="@Submit">
    <fieldset>
        <legend>Choose a risk level:</legend>
        <InputRadioGroup TValue="Risk?" @bind-Value="Model.RiskLevel">
            <label><InputRadio Value="Risk.KnownSafe"/> Known Safe</label>
            <label><InputRadio Value="Risk.Validated"/> Validated</label>
            <label><InputRadio Value="Risk.Risky"/> Risky</label>
            <label><InputRadio Value="Risk.Broken"/> Broken</label>
        </InputRadioGroup>
    </fieldset>

    <Button type="submit" style="float: right; margin-top: 2em">Next</Button>
</EditForm>

@code {

    private IReadOnlyList<string> messages = Array.Empty<string>();

    private async Task Submit()
    {
        if (Model.RiskLevel is null)
        {
            messages = ["You have to select a risk level."];
            return;
        }

        await MoveToAsync<ShowCommitMessage>();
    }

}
