﻿@page "/build-commit-message/interactive/show-commit-message"
@using Swallow.Workflow.Interactive
@using Swallow.Workflow.Example.Components
@inherits WorkflowPage<WorkflowModel>

Your commit message is:

<Message><pre><code>@commitMessage</code></pre></Message>

@code {

    private string commitMessage = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (Model.RiskLevel is null || Model.Intention is null || Model.Title is null)
        {
            commitMessage = "Failed!";
            return;
        }

        commitMessage = CommitMessageGenerator.Generate(Model.Intention.Value, Model.RiskLevel.Value, Model.Title);
    }

}
