﻿@using System.Linq.Expressions
@typeparam TModel where TModel : class

@if (Step is not null)
{
    <CascadingValue Value="this">
        <DynamicComponent Type="Step" Parameters="parameters"/>
    </CascadingValue>
}

@code {

    [Parameter]
    public Type? Step { get; set; } = null;

    [Parameter]
    public Expression<Func<Type?>> StepExpression { get; set; } = null!;

    [Parameter]
    public EventCallback<Type?> StepChanged { get; set; }

    [Parameter]
    [EditorRequired]
    public TModel Model { get; set; } = null!;

    [Parameter]
    public EventCallback<StepChangedEventArgs> OnStepChanged { get; set; }

    private IDictionary<string, object> parameters => new Dictionary<string, object> { [nameof(WorkflowStep<TModel>.Model)] = Model };

    protected override void OnInitialized()
    {
        if (Step is not null && !Step.IsAssignableTo(typeof(WorkflowStep<TModel>)))
        {
            throw new ArgumentException($"Step must be assignable to {nameof(WorkflowStep<TModel>)}", paramName: nameof(Step));
        }
    }

    public async Task MoveToAsync<T>() where T : WorkflowStep<TModel>
    {
        Step = typeof(T);
        await StepChanged.InvokeAsync(Step);

        StateHasChanged();
        await OnStepChanged.InvokeAsync(new StepChangedEventArgs(Step, Model));
    }

}
