﻿@page "/build-commit-message/static/set-intention"
@using Swallow.Workflow.Static
@using Swallow.Workflow.Example.Components
@inherits WorkflowPage<WorkflowModel>

<WorkflowStep Model="Model" OnSubmit="@Submit">
    <fieldset>
        <legend>Choose an intention</legend>
        <InputRadioGroup TValue="Intention?" @bind-Value="Model!.Intention">
            <label><InputRadio Value="Intention.Feature"/> Feature</label>
            <label><InputRadio Value="Intention.Bugfix"/> Bugfix</label>
            <label><InputRadio Value="Intention.Refactoring"/> Refactoring</label>
            <label><InputRadio Value="Intention.Documentation"/> Documentation</label>
        </InputRadioGroup>
    </fieldset>

    <Button type="submit" style="float: right; margin-top: 2em">Next</Button>
</WorkflowStep>

@code {

    private void Submit()
    {
        if (Model?.Intention is not null)
        {
            MoveTo<SetRisk>();
        }
    }

}
