﻿@page "/build-commit-message/static/set-risk"
@using Swallow.Workflow.Static
@using Swallow.Workflow.Example.Components
@inherits WorkflowPage<WorkflowModel>

<WorkflowStep Model="Model" OnSubmit="@Submit">
    <fieldset>
        <legend>Choose a risk level:</legend>
        <InputRadioGroup TValue="Risk?" @bind-Value="Model!.RiskLevel">
            <label><InputRadio Value="Risk.KnownSafe"/> Known Safe</label>
            <label><InputRadio Value="Risk.Validated"/> Validated</label>
            <label><InputRadio Value="Risk.Risky"/> Risky</label>
            <label><InputRadio Value="Risk.Broken"/> Broken</label>
        </InputRadioGroup>
    </fieldset>

    <Button type="submit" style="float: right; margin-top: 2em">Next</Button>
</WorkflowStep>

@code {

    private void Submit()
    {
        if (Model?.RiskLevel is not null)
        {
            MoveTo<ShowCommitMessage>();
        }
    }

}
