﻿@page "/build-commit-message/static/show-commit-message"
@using Swallow.Workflow.Static
@inherits WorkflowPage<WorkflowModel>

Your commit message is:

<pre><code>@commitMessage</code></pre>

@code {

    private string commitMessage = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Model?.RiskLevel is null || Model?.Intention is null || Model?.Title is null)
        {
            commitMessage = "Failed!";
            return;
        }

        commitMessage = CommitMessageGenerator.Generate(Model.Intention.Value, Model.RiskLevel.Value, Model.Title);
    }

}
