﻿@typeparam T
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="Model" FormName="workflow-model" OnSubmit="@OnSubmit">
    @ChildContent

    @foreach (var property in PropertyHelper.EnumerateProperties(Model))
    {
        <input type="hidden" name="@property.Name" value="@property.Value" />
    }
</EditForm>
